{% extends 'base2.html' %}
{% load static %}
{% block content %}

<div class="container mt-5 mb-5" style="padding-top:100px;">
    <div class="justify-content-center row">
        <div class="col-md-8">
            <div class="bg-white">

                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mt-2 mb-3">Thank you for your order.</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="mb-0">{{ order.name }}</p>
                        <p class="mb-0">{{ order.address }}</p>
                        <p class="mb-0">{{ order.phone }}</p>
                        <p class="mb-0">{{ order.email }}</p>
                    </div>
                </div>
                
                <h6>Hello {{ order.name }},</h6>
                <h5 class="text-success">You will be notified when your Order is ready.</h5>
                <hr>

                <div class="d-flex justify-content-between">
                    <div>
                        <span class="d-block">Order Date: </span><span class="font-weight-bold">{{ order.created_at }}</span>
                    </div>
                    <div>
                        <span class="d-block">Order No: </span><span class="font-weight-bold">{{ order.order_number }}</span>
                    </div>
                    <div>
                        <span class="d-block">Payment Method: </span><span class="font-weight-bold">{{ order.payment_method }}</span>
                    </div>
                    <div>
                        <span class="d-block">Transaction ID: </span><span class="font-weight-bold">{{ order.payment.pidx }}</span>
                    </div>
                </div>
                <hr>
                <table class="table">
                    <tbody>
                        {% for order in ordered_product %}
                            <tr>
                                
                                <td>
                                    {% if order.food_item.food_image %}
                                    <img src="{{ order.food_item.food_image.url }}" width="60" alt="food_item Image">
                                    {% else %}
                                    <img src="{% static 'assets/images/default-image.jpg' %}" height="48" width="54" alt="{{ cart_item.food_item.food_name }}">
                                    {% endif %}
                                </td>
                                
                                <td>{{ order.food_item.food_name }} </td>
                                <td>
                                    <p class="mb-0"><b>{{ order.food_item.name }}</b></p>
                                </td>
                                <td>{{ order.quantity }} QTY</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


                <div class="row mt-5">
                    <div class="d-flex justify-content-center col-md-6">
                        <img src="{% static 'assets/images/paid.jpg' %}" width="200">
                    </div>
                    <div class="col-md-6">
                        <ul>
                            

                            <li style="list-style-type: none; font-weight: 600;">
                                TOTAL
                                <span class="price float-right">
                                    <span class="currency  text-danger">Nrs </span>
                                    <span class=" text-danger" id="total">{{ order.total }}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="d-block font-weight-bold">Thanks for ordering with us.</span>
                        <span>Admin</span>
                    </div>
                    <div class="d-flex justify-content-end align-items-end">
                        <span class="d-block font-weight-bold">Need help?</span>
                        <span>Call - +977 9803354156</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}